<div class="search-container">
    <img src="https://covers.openlibrary.org/w/id/6308838-M.jpg" alt="" />
    <br/>
    <input type="text" name="name" value="">
    <button id="btn-search" type="button" name="button">SEARCH</button>
    <button id="btn-random" type="button" name="button">RANDOM</button>
</div>
